<footer class="footer">
	<small>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", static_pages_about_path %></li>
		  <li><%= link_to "Contact", static_pages_contact_path %></li>
		</ul>
	</nav>
</footer>